<div class="table-responsive">
  <table class="table table-striped table-hover align-middle border">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Título</th>
        <th scope="col">Género</th>
        <th scope="col">Plataforma</th>
        <th scope="col">Desarrollador / Editor</th>
        <th scope="col">Enlace</th>
      </tr>
    </thead>
    <tbody>
      @for (game of games; track game.id) {
        <tr>
          <td>
            <img
              class="game-thumbnail"
              [src]="getThumbnail(game.thumbnail)"
              [alt]="'Miniatura de ' + game.title"
              loading="lazy"
            >
          </td>
          <th scope="row">{{ game.title }}</th>
          <td><span class="badge bg-primary">{{ game.genre }}</span></td>
          <td>{{ game.platform }}</td>
          <td>{{ game.developer }} / {{ game.publisher }}</td>
          <td>
            <a [href]="game.game_url" target="_blank" rel="noopener noreferrer">
              Ver juego
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>